img{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:90px;
    height:90px;
}

caption {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

.decription{
    width: auto;
    display: inline-block;
}

table{
    width: 100%;
    text-align: center;
   
}

th{
    font-weight: normal;
    font-style: italic;
}
td{
    padding-top: 10px;
    padding-bottom: 10px;
}



